@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


.search-container input{
  background-color: rgb(46, 46, 46);
}

.navbar-brand span{
  font-size: xx-large;
  font-weight:bolder;
  color: #E81038;
}

img[alt="logo"] {
  position: relative;
  bottom: 18px;

}

.hero{
  height: 85vh;
  background-image: url("./images/hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-text-container{
  color: white;
  transform: translateY(-80px);
  font-family: 'Bebas Neue', cursive
}

.hero .hero-text-container h1 img{
  margin-top: -40px;
}

.hero .hero-text-container h1{
  font-size: 80px;
}

.hero .hero-text-container h1:nth-child(2){
  padding-left: 40px;
}

.hero .hero-text-container h1:nth-child(2)::after{
  display: block; 
  content: "";
  border-top: .3rem solid white;
  width: 45rem;
  margin: 0 1rem;
  margin-top: 1.5rem;
  transform: translateY(-1rem);
  
}


.benefits-container{
  height: 110vh;
  background-image: url("./images/benefits1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits-container h1{
  text-align: center;
}

.card {
  background-color: hsla(180, 20%, 93%, 0.7) !important;
}

/* testimonials section   */
.testimonials-container{
    height: 800px;
    background-image: url("./images/testimonials.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.testimonials-container h1{
    text-align: center;
}


.carousel {
  width: 650px;
  margin: 0 auto;
  padding-bottom: 50px
}

.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}

.carousel .item a {
  color: #eb7245
}

.carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%
}

.carousel .testimonial {
  padding: 30px 0 10px
}

.testimonial {
  color: #000000;
  font-family: 'Kanit', sans-serif;
  font-size:x-large;
}

.carousel .overview {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  padding-bottom: 5px
}

.carousel .overview b {
  color: #333;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px
}

.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12
}

.carousel .carousel-control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #999;
  text-shadow: none;
  top: 4px
}

.carousel-control i {
  font-size: 20px;
  margin-right: 2px
}

.carousel-control.left {
  left: auto;
  right: 40px
}

.carousel-control.right i {
  margin-right: -2px
}

.carousel .carousel-indicators {
  bottom: 15px
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%
}

.carousel-indicators li {
  background: #e2e2e2;
  border-color: transparent
}

.carousel-indicators li.active {
  border: none;
  background: #888
}